<!-- Elements added to main will be displayed on all pages -->
{% extends "base.html" %}


{% block htmltitle %}
  <title>NJIT HPC Documentation</title>
{% endblock %}

<!--
{% block announce %}
<p style="font-size: 15px; color: white;">
  <b>Wulver OS has been upgraded to RHEL9.</b><br>
Please check the details at <a href="https://hpc.njit.edu/faq/rhel_9_faq/" style="color: white; text-decoration: underline; font-weight: bold;">RHEL9 OS Upgrade FAQ</a>.
The software packages, on the Wulver new OS, have also been updated. Check the list of software at <a href="https://hpc.njit.edu/Software/" style="color: white; text-decoration: underline; font-weight: bold;">Software list</a>.

</p>
{% endblock %}
-->

{% block footer %}
<footer class="md-footer">
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            <!-- Copyright and theme information -->
            <div class="md-copyright">
                {% if config.copyright %}
                <div class="md-copyright__highlight">
                    {{ config.copyright }}
                </div>
                {% endif %}

            </div>
            {% block social %}
            {% include "partials/social.html" %}
            {% endblock %}
        </div>
    </div>
</footer>
{% endblock %}