<!-- Elements added to main will be displayed on all pages -->
{% extends "base.html" %}


{% block htmltitle %}
  <title>NJIT HPC Documentation</title>
{% endblock %}
{#
<!--
{% block announce %}
<p style="font-size: 15px; color: white;">
  <b>SU Reset in Standard Priority</b><br>
 In early January, the available SU totals on all standard accounts will be reset to the annual allocation level of 300,000. If your group has purchased additional SUs, any unused SUs will be added to the 300,000 annual quota. Please note that additional SUs purchased have to be consumed with a year of purchase unless you have purchased a multi-year allocation block.<br>

We are actively working with the Research Computing Advisory Board to fully implement our allocation process. Your cooperation and understanding during this transition are greatly appreciated.

If you have any questions or need further assistance, please do not hesitate to reach out at <a href="mailto:hpc@njit.edu" style="color: white;">hpc@njit.edu</a>.

</p>
{% endblock %}
-->
#}
{% block footer %}
<footer class="md-footer">
    <div class="md-footer-meta md-typeset">
        <div class="md-footer-meta__inner md-grid">
            <!-- Copyright and theme information -->
            <div class="md-copyright">
                {% if config.copyright %}
                <div class="md-copyright__highlight">
                    {{ config.copyright }}
                </div>
                {% endif %}

            </div>
            {% block social %}
            {% include "partials/social.html" %}
            {% endblock %}
        </div>
    </div>
</footer>
{% endblock %}