#:root {
#  --md-default-fg-color:               rgb(0,0,0);
#  --md-typeset-mark-color:             rgb(0,0,0);
#  --md-code-hl-color:                hsla(#{hex2hsl($clr-blue-a200)}, 0.15);


#  --md-primary-fg-color:               #d8272d;
#  --md-primary-fg-color--light:        #d8272d;
#  --md-primary-fg-color--dark:         rgb(255,255,0);
#  --md-footer-fg-color:                #ffffff;
#  --md-footer-bg-color:                #d8272d;
# Not sure why this works in light mode when it specifies dark
#  --md-footer-bg-color--dark:                #d8272d;
#  --md-footer--fg-color--transparent:  rgb(0,0,29,0.25);
#  --md-footer--fg-color--dark:         indigo;

    /* Accent color shades */

#  --md-accent-fg-color:                #d8272d;
#  --md-accent-fg-color--transparent:   rgb(0,0,29,0.25);

#  --md-accent-fg-color--dark:          indigo;

#  --md-accent-bg-color:                #d8272d;
#  --md-accent-bg-color--light:         rgb(0,0,235,0.5);
#}

[data-md-color-scheme="njit"] {
  --md-primary-fg-color:                #d8272d;
  --md-primary-fg-color--light:         #d8272d;
  --md-admonition-icon--njit:           url('../img/Logo_NJIT.png');
  /* Code highlighting color shades
  --md-code-hl-color:                  hsla(#{hex2hsl($clr-red-a200)}, 1);
  --md-code-hl-color--light:           hsla(#{hex2hsl($clr-red-a200)}, 0.1);
  --md-code-hl-number-color:           hsla(0, 67%, 50%, 1);
  --md-code-hl-special-color:          hsla(340, 83%, 47%, 1);
  --md-code-hl-function-color:         hsla(291, 45%, 50%, 1);
  --md-code-hl-constant-color:         hsla(250, 63%, 60%, 1);
  --md-code-hl-keyword-color:          hsla(219, 54%, 51%, 1);
  --md-code-hl-string-color:           hsla(150, 63%, 30%, 1);
  --md-code-hl-name-color:             var(--md-code-fg-color);
  --md-code-hl-operator-color:         var(--md-default-fg-color--light);
  --md-code-hl-punctuation-color:      var(--md-default-fg-color--light);
  --md-code-hl-comment-color:          var(--md-default-fg-color--light);
  --md-code-hl-generic-color:          var(--md-default-fg-color--light);
  --md-code-hl-variable-color:         var(--md-default-fg-color--light);
  */

  --md-typeset-mark-color:              #d8272d;
  --md-default-fg-color:                rgb(0,0,0);

  --md-footer-fg-color:                 #d8272d;
  --md-footer-bg-color:                 #d8272d;

  --md-accent-fg-color:                 #d8272d;
}

[data-md-color-scheme="slate"] {
  --md-primary-fg-color:                #d8272d;
  --md-primary-fg-color--light:         #d8272d;
  --md-admonition-icon--njit:           url('../img/Logo_NJIT.png');
  --md-code-hl-color:                   hsla(#{hex2hsl($clr-blue-a200)}, 0.15);

  --md-typeset-mark-color:              rgb(0,0,0);

  --md-accent-fg-color:                 #d8272d;
  --md-hue:                             360;
}


.md-grid {
  max-width: initial;
}

md-typeset .admonition.njit,
.md-typeset details.njit {
  border-color: rgb(84, 15, 17);
}
.md-typeset .njit > .admonition-title,
.md-typeset .njit > summary {
  background-color: rgba(84, 15, 17, 0.1);
}
.md-typeset .njit > .admonition-title::before,
.md-typeset .njit > summary::before {
  background-color: #d8272d;
  -webkit-mask-image: var(--md-admonition-icon--njit);
          mask-image: var(--md-admonition-icon--njit);
}
.octicon--arrow-right-24 {
  display: inline-block;
  width: 1.2em;
  height: 1.2em;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23d8272d' d='M13.22 19.03a.75.75 0 0 1 0-1.06L18.19 13H3.75a.75.75 0 0 1 0-1.5h14.44l-4.97-4.97a.749.749 0 0 1 .326-1.275a.75.75 0 0 1 .734.215l6.25 6.25a.75.75 0 0 1 0 1.06l-6.25 6.25a.75.75 0 0 1-1.06 0'/%3E%3C/svg%3E");
}