name: ci 
on:
  push:
    branches:
      - main
      - ARCS-Lakshya
      - ARCS-Abhi
      - julia_patch      
    workflow_dispatch:
      - main
      - ARCS-Lakshya
      - ARCS-Abhi
      - julia_patch
permissions:
  contents: write
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v4
        with:
          python-version: 3.x
      - run: echo "cache_id=$(date --utc '+%V')" >> $GITHUB_ENV
      - uses: actions/cache@v3
        with:
          key: mkdocs-material-${{ env.cache_id }}
          path: .cache
          restore-keys: |
            mkdocs-material-
      - run: pip install mkdocs-material pandas tabulate markdown-exec mkdocstrings mkdocs-table-reader-plugin mkdocs-awesome-pages-plugin mkdocs-autolinks-plugin mkdocs-literate-nav
      - run: mkdocs gh-deploy --force
